{% extends 'base_layout.html' %}

{% block content %}
  <h1 class="text-center logo my-4">
    <a href="{% url 'home' %}">IOT</a>
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body" style="margin-left: 30px;">
          <h3 class="card-title">Log in</h3>
          <form method="post" action="{% url 'user_auth:login' %}">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }} 
                <div>{{field}}</div>        
                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>  
        </div>
        <div class="card-footer text-muted text-center">
          New to IOT? <a href="{% url 'user_auth:signup' %}">Sign up</a>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}